<!DOCTYPE html>
<html lang="en" and dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <form class="box" action="/login" method="POST">
            
            <h1>QUIZ MANIA</h1>
            <hr>
            <h2>
                Login
            </h2>
            <input type="text" name="username" placeholder="Enter username" id="username" autocomplete="off" required>
            <input type="password" name="password" placeholder="Enter password" id="password" required>
            <button type="" onclick="login()">Login</button>
            <a href="/register" style="color: powderblue;">Create an account?</a>
        </form>
    </body>
</html>